.title {
  margin-top: 20px;
  margin-bottom: 4px;
}

.input {
  background-color: transparent;
  border: none;
  color: rgb(255 255 255);
  width: 90%;
  font-family: 'Courier New';
}

.input:focus {
  outline: none;
}
